<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>earth-projectile-move-00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,14}</string>
                <key>spriteSourceSize</key>
                <string>{32,16}</string>
                <key>textureRect</key>
                <string>{{35,1},{26,14}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>earth-projectile-move-01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{26,14}</string>
                <key>spriteSourceSize</key>
                <string>{32,16}</string>
                <key>textureRect</key>
                <string>{{35,17},{26,14}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>earth-projectile-move-02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{28,14}</string>
                <key>spriteSourceSize</key>
                <string>{32,16}</string>
                <key>textureRect</key>
                <string>{{19,1},{28,14}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>earth-projectile-move-03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{28,16}</string>
                <key>spriteSourceSize</key>
                <string>{32,16}</string>
                <key>textureRect</key>
                <string>{{1,1},{28,16}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>earthProjectile.png</string>
            <key>size</key>
            <string>{62,32}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:126b39878f3ef6912492b006b7fa1d03:693fbde88211794be71b30f5e3f436c9:721dbd1b52d7a3801f40a6f34ccd10e1$</string>
            <key>textureFileName</key>
            <string>earthProjectile.png</string>
        </dict>
    </dict>
</plist>
