<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fire-projectile-move-00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,1}</string>
                <key>spriteSize</key>
                <string>{24,12}</string>
                <key>spriteSourceSize</key>
                <string>{32,16}</string>
                <key>textureRect</key>
                <string>{{1,47},{24,12}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fire-projectile-move-01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{28,12}</string>
                <key>spriteSourceSize</key>
                <string>{32,16}</string>
                <key>textureRect</key>
                <string>{{1,33},{28,12}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fire-projectile-move-02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{30,14}</string>
                <key>spriteSourceSize</key>
                <string>{32,16}</string>
                <key>textureRect</key>
                <string>{{1,1},{30,14}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fire-projectile-move-03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-1}</string>
                <key>spriteSize</key>
                <string>{28,12}</string>
                <key>spriteSourceSize</key>
                <string>{32,16}</string>
                <key>textureRect</key>
                <string>{{17,1},{28,12}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>fireProjectile.png</string>
            <key>size</key>
            <string>{30,60}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0413b60808df2029d02af3fcc889d73d:01a640660a4bd63b8bd7de038961527f:13a877fa8aa0f994a48ccb718ad40656$</string>
            <key>textureFileName</key>
            <string>fireProjectile.png</string>
        </dict>
    </dict>
</plist>
