<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>minotaur-attack1-00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,77}</string>
                <key>spriteSourceSize</key>
                <string>{96,77}</string>
                <key>textureRect</key>
                <string>{{1,1},{96,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>minotaur-attack1-01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,77}</string>
                <key>spriteSourceSize</key>
                <string>{96,77}</string>
                <key>textureRect</key>
                <string>{{1,80},{96,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>minotaur-attack1-02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,77}</string>
                <key>spriteSourceSize</key>
                <string>{96,77}</string>
                <key>textureRect</key>
                <string>{{1,159},{96,77}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>minotaur-attack1-03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,77}</string>
                <key>spriteSourceSize</key>
                <string>{96,77}</string>
                <key>textureRect</key>
                <string>{{80,159},{96,77}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>minotaur-attack1-04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,77}</string>
                <key>spriteSourceSize</key>
                <string>{96,77}</string>
                <key>textureRect</key>
                <string>{{99,1},{96,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>minotaur-attack1-05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,77}</string>
                <key>spriteSourceSize</key>
                <string>{96,77}</string>
                <key>textureRect</key>
                <string>{{99,80},{96,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>minotaur-attack1-06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,77}</string>
                <key>spriteSourceSize</key>
                <string>{96,77}</string>
                <key>textureRect</key>
                <string>{{159,159},{96,77}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>minotaur-attack1-07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,77}</string>
                <key>spriteSourceSize</key>
                <string>{96,77}</string>
                <key>textureRect</key>
                <string>{{197,1},{96,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>minotaur-attack1-08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,77}</string>
                <key>spriteSourceSize</key>
                <string>{96,77}</string>
                <key>textureRect</key>
                <string>{{197,80},{96,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>minotaur-attack1-09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,77}</string>
                <key>spriteSourceSize</key>
                <string>{96,77}</string>
                <key>textureRect</key>
                <string>{{238,159},{96,77}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>minotaur-die-00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,77}</string>
                <key>spriteSourceSize</key>
                <string>{96,77}</string>
                <key>textureRect</key>
                <string>{{295,1},{96,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>minotaur-die-01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,77}</string>
                <key>spriteSourceSize</key>
                <string>{96,77}</string>
                <key>textureRect</key>
                <string>{{295,80},{96,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>minotaur-die-02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,77}</string>
                <key>spriteSourceSize</key>
                <string>{96,77}</string>
                <key>textureRect</key>
                <string>{{317,159},{96,77}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>minotaur-die-03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,77}</string>
                <key>spriteSourceSize</key>
                <string>{96,77}</string>
                <key>textureRect</key>
                <string>{{393,1},{96,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>minotaur-die-04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,77}</string>
                <key>spriteSourceSize</key>
                <string>{96,77}</string>
                <key>textureRect</key>
                <string>{{393,80},{96,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>minotaur-die-05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,77}</string>
                <key>spriteSourceSize</key>
                <string>{96,77}</string>
                <key>textureRect</key>
                <string>{{396,159},{96,77}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>minotaur-die-06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,77}</string>
                <key>spriteSourceSize</key>
                <string>{96,77}</string>
                <key>textureRect</key>
                <string>{{475,159},{96,77}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>minotaur-die-07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,77}</string>
                <key>spriteSourceSize</key>
                <string>{96,77}</string>
                <key>textureRect</key>
                <string>{{491,1},{96,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>minotaur-hurt-00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,77}</string>
                <key>spriteSourceSize</key>
                <string>{96,77}</string>
                <key>textureRect</key>
                <string>{{491,80},{96,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>minotaur-hurt-01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,77}</string>
                <key>spriteSourceSize</key>
                <string>{96,77}</string>
                <key>textureRect</key>
                <string>{{554,159},{96,77}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>minotaur-hurt-02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,77}</string>
                <key>spriteSourceSize</key>
                <string>{96,77}</string>
                <key>textureRect</key>
                <string>{{589,1},{96,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>minotaur-hurt-03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,77}</string>
                <key>spriteSourceSize</key>
                <string>{96,77}</string>
                <key>textureRect</key>
                <string>{{589,80},{96,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>minotaur-idle-00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,77}</string>
                <key>spriteSourceSize</key>
                <string>{96,77}</string>
                <key>textureRect</key>
                <string>{{633,159},{96,77}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>minotaur-idle-01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,77}</string>
                <key>spriteSourceSize</key>
                <string>{96,77}</string>
                <key>textureRect</key>
                <string>{{687,1},{96,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>minotaur-idle-02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,77}</string>
                <key>spriteSourceSize</key>
                <string>{96,77}</string>
                <key>textureRect</key>
                <string>{{687,80},{96,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>minotaur-idle-03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,77}</string>
                <key>spriteSourceSize</key>
                <string>{96,77}</string>
                <key>textureRect</key>
                <string>{{712,159},{96,77}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>minotaur-idle-04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,77}</string>
                <key>spriteSourceSize</key>
                <string>{96,77}</string>
                <key>textureRect</key>
                <string>{{785,1},{96,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>minotaur-move-00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,77}</string>
                <key>spriteSourceSize</key>
                <string>{96,77}</string>
                <key>textureRect</key>
                <string>{{785,80},{96,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>minotaur-move-01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,77}</string>
                <key>spriteSourceSize</key>
                <string>{96,77}</string>
                <key>textureRect</key>
                <string>{{791,159},{96,77}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>minotaur-move-02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,77}</string>
                <key>spriteSourceSize</key>
                <string>{96,77}</string>
                <key>textureRect</key>
                <string>{{870,159},{96,77}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>minotaur-move-03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,77}</string>
                <key>spriteSourceSize</key>
                <string>{96,77}</string>
                <key>textureRect</key>
                <string>{{883,1},{96,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>minotaur-move-04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,77}</string>
                <key>spriteSourceSize</key>
                <string>{96,77}</string>
                <key>textureRect</key>
                <string>{{883,80},{96,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>minotaur-move-05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,77}</string>
                <key>spriteSourceSize</key>
                <string>{96,77}</string>
                <key>textureRect</key>
                <string>{{949,159},{96,77}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>minotaur.png</string>
            <key>size</key>
            <string>{1027,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:00b4623605088a1c5f9c3ccb194fa1ba:e2b49d68418f11f7a7c2a1df7260f9b1:f5752508a348ca5012de8baf6eafa3e3$</string>
            <key>textureFileName</key>
            <string>minotaur.png</string>
        </dict>
    </dict>
</plist>
